.screen {
    width: 700px;
    height: 250px;
    line-height: 225px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 160px;
    border-radius: 20px;
    user-select: none;
}